
@{
    ViewBag.Title = "CreateLeague";
}

<h2>CreateLeague</h2>
<form method="post">
    <label for="leagueName">LeagueName</label>
    <input type="text" id="leagueName" name="leagueName"/>
    <input type="submit" />
</form>

