@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fantasy Sports</h1>
    <p class="lead">Create and join leagues. Humiliate your friends.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

